<div class="large-empty"></div>

<div id="title"></div>

<div class="empty"></div>

<div id="card-container">
  <div id="stats">
    <p id="pile"></p>
    <p id="yours"></p>
  </div>
  <img id="card" src="">
</div>

<div class="empty"></div>

<div id="button-container">
  <div id="start-container">
    <button type="button" class="button" id="startGame" onclick="start()">Start Game</button>
  </div>
  <div id="play-container">
    <button type="button" class="button" id="play" onclick="playCard()">P</button>
    <span id="space"></span>
    <button type="button" class="button" id="slap" onclick="slap()">S</button>
  </div>
</div>

<div class="empty"></div>

<div id="messages-container"></div>

<div class="large-empty"></div>

<script src="/socket.io/socket.io.js"></script>
<script>
var socket = io();
var username = "";
var id = "";

$('#play-container').hide();

socket.on('connect', function() {
  console.log('connected');
});

socket.on('username', function(data) {
  if(!data.id) {
    username = prompt("Please enter a username!")
    socket.emit("username", username)
  } else {
    id = data.id;
    $('#title').text(`Welcome to Slapjack, ${data.username}!`);
  }
});

socket.on('playCard', function(playCard) {
  var svgCard = "/cards/".concat(playCard.replace(/ /g, "_").concat(".svg"));
  $('#card').attr('src', svgCard);
});

socket.on('start', function() {
  $('#start-container').hide();
  $('#play-container').show();
})

socket.on('slap', function(result) {
  if(result.result) {
    $('#messages-container').prepend('<p>'+result.message+'</p>');
    console.log(result.message);
  } else {
    var className = JSON.stringify(new Date());
    className = className.replace(/[^0-9]/g, '');
    console.log(className);
    $('#messages-container').prepend(`<p id='${className}'>${result.message}</p>`);
    className = '#' + className;
    $(className).fadeOut(3000);
    console.log(className);
  }
});

socket.on('clear', function() {
  $('#card').attr('src', "");
})

socket.on('message', function(data) {
  var className = JSON.stringify(new Date());
  className = className.replace(/[^0-9]/g, '');
  console.log(className);
  $('#messages-container').prepend(`<p id='${className}'>${data}</p>`);
  className = '#' + className;
  $(className).fadeOut(3000);
  console.log(className);
});

socket.on('disconnect', function() {
  // refresh on disconnect
  window.location = window.location;
});

function start() {
  socket.emit('start');
}

function playCard() {
  socket.emit('playCard');
}

function slap() {
  socket.emit('slap');
}

</script>
