<h1>Slapjack</h1>

<button type="button" id="startGame" onclick="start()" class="btn btn-primary">Start Game</button>
<button type="button" onclick="playCard()" class="btn btn-primary">Play Card</button>
<button type="button" onclick="slap()" class="btn btn-success">Slap!</button>

<img id="card" src="" style="width: 200px; margin-top: 50px">
<div id="messages-container"></div>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  var username = "";
  var id = "";

  socket.on('connect', function() {
    console.log('connected');
  });

  socket.on('username', function(resp) {
    console.log("WHY YOU NO WORK")
    if(!resp) {
      username = prompt("Please enter your username");
      socket.emit('username', username);
    } else {
      id = resp;
    }

  });

  socket.on('playCard', function(data) {
    console.log(data + "data here")
    var imgsrc = data.toLowerCase().split(" ").join("_") + ".svg";
    $("#card").attr("src", "/cards/" + imgsrc);
  });

  socket.on('slap', function(data) {
    console.log(data + " slap data");
    if (data.winning) {
      alert("You just won the game!");
      $("#startGame").prop("disabled", false);
    } else {
      if (data) {
        $("#messages-container").show();
        $("#messages-container").text("You just " + data.message).fadeOut(5000);
      }
    };
  });

  socket.on('start', function(data) {
      $("#startGame").prop("disabled", true);
    });

  socket.on('message', function(data) {
    console.log(data + " message data")
    if (data) {
      $("#messages-container").show();
      $("#messages-container").text(data).fadeOut(5000);
    }

  });

  socket.on('disconnect', function() {
    // refresh on disconnect
    window.location = window.location;
  });

  function start() {
    socket.emit('start');
  }

  function playCard() {
    socket.emit('playCard');
  }

  function slap() {
    socket.emit('slap');
  }

</script>
