<h1>Slapjack</h1>

<button type="button" id="startGame" onclick="start()" class="btn btn-primary">Start Game</button>
<button type="button" onclick="playCard()" class="btn btn-primary">Play Card</button>
<button type="button" onclick="slap()" class="btn btn-success">Slap!</button>

<img id="card" src="" style="width: 200px; margin-top: 50px">
<div id="messages-container"></div>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  var username = "";
  var id = "";

  socket.on('connect', function() {
    console.log('connected');
  });

  socket.on('username', function(resp) {
    if(resp===false){
    username=prompt("Add a user")
    socket.emit('username', username)
    }
    else{
    socket.id=resp
   }
  });

  socket.on('playCard', function(data) {

  });

  socket.on('slap', function(data) {

  });

  socket.on('start', function(data) {
    if(start()){
      console.log('returned')
      if(data!==false){
          $(".btn-sucess").on('cjkljllick', function(){
            console.log('this reaches here')
        $(this).prop("disabled",true)
      socket.broadcast.emit(data);
      })
    }
    else{
      console.log("Cannot start playing yet!")
      socket.broadcast.emit("Cannot start playing yet!");
    }
    }
  });

  socket.on('message', function(data) {

  });

  socket.on('disconnect', function() {
    // refresh on disconnect
    window.location = window.location;
  });

  function start() {
   console.log('clicked')
    socket.emit('start');
  }

  function playCard() {
    socket.emit('playCard');
  }

  function slap() {
    socket.emit('slap');
  }

</script>
